.section {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 120px;

  &__title {
    text-align: center;
    color: darkolivegreen;
    font-weight: bold;
  }

  &__row {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__img-folder {
      width: 100%;
    }

    &__img {
      width: 300px;
      height: 300px;
    }

    &__text {
      width: 80%;
      font-size: smaller;
      text-align: left;
    }
  }
}

@media (max-width: 1200px) {
  .section {
    flex-direction: column;

    &__row {
      flex-direction: column;
    }

    .card {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;

      &__img-folder {
        width: 100%;
      }

      &__img {
        width: 300px;
        height: 300px;
      }

      &__text {
        width: 80%;
        font-size: smaller;
        text-align: left;
      }
    }
  }
}

@media (max-width: 820px) {
  .section {
    flex-direction: column;
    width: 100%;

    &__row {
      flex-direction: column;
    }

    .card {
      width: 100%;
      display: flex;
      flex-direction: column;

      margin: 0 auto;

      &__img-folder {
        width: 100%;
      }

      &__img {
        width: 300px;
        height: 300px;
      }

      &__text {
        width: 80%;
        font-size: smaller;
        text-align: left;
      }
    }
  }
}
